.rent .set-align {
    align-items: initial;
}

.rent .result {
    font-size: 15px;
    width: 100%;
    height: 50px;
    background-color: #f7f8f9;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rent .img-ads{
    width: 100%;
}