.manage .manage-row {
    align-items: initial;
}

.manage .manage-row .left {
    height: 100vh;
    border-right: solid 1px #cecece;
    background-color: #babcbf;
}

.manage .manage-row .left .nav-custom {
    display: flex;
    flex-direction: column;
}

.manage .left .nav-custom>a {
    text-align: left;
    padding: 8px;
    width: 100%;
    height: 40px;
    color: inherit;
}

.manage .left .nav-custom .active {
    background-color: #cecece;
    font-weight: bold;
}

.manage .left .nav-custom>a:hover {
    background-color: #cecece;;
}

.manage .manage-row .right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #e6e9ed;

}

.manage .manage-row .right .custom-save-post {
    width: 98%;
    height: 95%;
    border-radius: 10px;

    background-color: #fff;

}

.manage .manage-row .right .custom-save-post .title-save-post {
    display: flex;
    flex-direction: row;
}

.manage .manage-row .right .custom-save-post .first {
    height: 70px;
}

.manage .manage-row .right .custom-save-post .first > ul {
    padding: 0;
    list-style-type: none;
} 

.manage .manage-row .right .custom-save-post .first .title-save-post {
 
}


.manage .manage-row .right .custom-save-post .title-save-post > li {
    text-decoration: none;
    list-style: none;
    text-align: center;
    padding: 20px 0px;
    width: 200px;
    height:70px;
    font-size: 20px;
    cursor: pointer;
}

.manage .manage-row .right .custom-save-post .title-save-post > li:hover {
    background-color: #d5e0ed;
}

.manage .manage-row .right .custom-save-post .first .title-save-post .active {
    border-bottom: 2px solid #00737c;
}

.manage .manage-row .right .custom-save-post .search-post {
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

.manage .manage-row .right .custom-save-post .search-post .bt-search {
    background-color: #00deb6;
    border: none;
}

.manage .manage-row .right .custom-save-post .search-post .bt-search:hover {
    background-color: #d5e0ed;
}

.manage .manage-row .right .custom-save-post .search-post .bt-search:focus {
    outline: none;
}

.manage .manage-row .right .custom-save-post .detail-post {
    width: 100%;
    height: calc(100% - 120px); 
    overflow-y:auto
}

