.mogi-logo {
    height: 30px;
    width: 100px;
}

.header-container {
    width: 100%;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-link {
    color: inherit;
}

.btn-custom {
    border: none;
}

.btn-custom:focus {
    outline: none;
}

.btn-profile {
    border-radius: 20px;
}

.btn-profile:focus {
    background-color: rgba(50, 170, 94, 0.5);
}

.btn-post {
    background-color: #00deb6;;
    width: 100px;
}

.btn-post:hover {
    background-color: rgb(199, 214 ,211);
}

.btn-login:hover {
    background-color: rgb(199, 214 ,211);
}