.filter-custom {
    width: 100%;
    height: auto;
    border: 1px solid #c9ccd1;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 15px;
}

.filter-custom .content {
    left: -10px;
}

.content ul {
    list-style-type: none;
}

.content ul li a, ul li a:hover {
    text-decoration: none;
    color: #000;
}

.m-1:hover {
    opacity: 0.5;
}

