.row {
    align-items: initial;
}

.house .content ul{
    list-style:circle;
    color: #657786;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.house .content li {
}

.house .content ul li .row1 {
    position: absolute;
}

.house .content ul li .row1-content {
    position: relative;
    left: 150px;
}



.house .contact {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}



.house .contact .contact-user {
    width: 70%;
}

.house .contact .profile-name {
    left: 200px;
    font-size: 20px;
    line-height: 10px;
}

.house .contact .profile-name .row2 {
    font-size: 15px;
}

.save {
    background-color: #acafb5;
}



@media only screen and (max-width: 1200px) {
    .house .content ul{
        list-style:circle;
        color: #657786;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
    .hh {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .hh {
        visibility: hidden;
    }
}