.list {
    width: 100%;
    height: 310px;
}

.see-all {
    height: 40px;
    width: 40px;
    border: solid 1px #c9ccd1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
}

.see-all:hover {
    text-decoration: none;
}

.row {
    flex-direction: row;
    align-items: center;
}