body {
  margin: 0;
  font-size: 1rem;
  font-family: Arial,Helvetica,sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  bottom: 0;
}

* {
  font-family: Arial,Helvetica,sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  align-items: initial;
}